[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pocketflow = "*"
openai = "*"
faiss-cpu = "*"
numpy = "*"

[dev-packages]
pylint = "*"
mypy = "*"
black = "*"
isort = "*"

[requires]
python_version = "3.12"
python_full_version = "3.12.9"
